.navbar {
    background-color: transparent;
    z-index: 100;
}

.bg-1-overlay {
    position:absolute; left: 0; right:0; top:0;
    height: 750px;
    width: 100%;
    background-color: black;
    opacity: 0.5;
}

.bg-img {
    position:absolute; left: 0; right:0; top:0;
    height: 750px;
    width: 100%;
}

.index-txt {
    text-align: center;
    font-family: fantasy;
}

.head-format {
    position: relative;
    top: 20%;
}

.modal {
    display: block;
}

.secondary-content {
    position: relative;
    height: 100px;
    width: 100%;
}

.dashboard-profile {
    padding: 25px;
    border: 1px solid black;
}

.profile-picture {
    height: 200px;
    width: 200px;
    background-color: red;
}

.dashboard-feed {
    padding: 25px;
    border: 1px solid black;
}

.dashboard-sidebar-config {
    padding: 25px;
    border: 1px solid black;
}